<!DOCTYPE html>
<html>
	<head>
		
        {% include header.html %}
		
        <title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>
    
	<body>
		<div>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/About">About</a></li>
        		<li><a href="/Gallery">Gallery</a></li>
        		<li><a href="/photography">Photography</a></li>
        		<li><a href="/Blog">Blog</a></li>
    		</ul>
		</nav>
		</div>
		
		<div class="container">

            		{{ content }}

        	</div><!-- /.container -->
        
	</body>
	
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.poptrox.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/exif.js"></script>
	<script src="assets/js/main.min.js"></script>
		
</html>
